<div class="panel panel-default">
    <div class="panel-body">
      <form id="document-edit" (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="name">Portfolio Item name: </label>
            <input type="text" id="name" class="form-control" size="120" max="120" name="name" [ngModel]="item?.name"
              #name="ngModel" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="description">Portfolio Item Description: </label>
            <input type="text" id="description" class="form-control" size="120" max="255" name="description"
              [ngModel]="item?.description" #description="ngModel" required>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="url">Portfolio URL:</label>
            <input type="text" id="url" class="form-control" size="150" max="255" name="link" #link="ngModel"
              [ngModel]="item?.link">
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
              <label for="date">Date Created: </label>
              <input type="text" id="date" class="form-control" size="150" max="255" name="date" #date="ngModel"
                [ngModel]="item?.date">
            </div>
          </div>
        <div class="alert alert-danger" *ngIf="(name.invalid && name.touched) || (description.invalid && description.touched)">
          Each entry must have a name and description</div>
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="form.invalid">Save</button> <button
              class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
